<!Doctype html>
<html lang="ko">

<head>
    <title>2021 SK Careers Fair On Air</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <!--[if this page needs to reset cache]>
            <meta http-equiv="Cache-Control" content="no-cache"> <meta http-equiv="Pragma" content="no-cache">
            <![endif]-->
    <meta name="author" content="univEBIZ_zo.oe">
    <meta name="keywords"
        content="2021 SK Careers Fair On Air, 2021 SK Careers Fair, SK Career Fair, SK채용박람회, SK채용, 2021 SK그룹 하반기 신입채용, SK주식회사 C&C, SK이노베이션, SK E&S, SK실트론,SK바이오팜, 공채, 신입채용, 신입모집, 그룹채용, 하반기 공채, 정기">
    <meta name="description" content="2021 SK신입 채용에 진심인 워너비들을 모십니다.">

    <meta property="og:type" content="website">
    <meta property="og:title" content="2021 SK Careers Fair On Air">
    <meta property="og:description" content="2021 SK신입 채용에 진심인 워너비들을 모십니다.">
    <meta property="og:image" content="../../content/images/share.png">
    <meta property="og:image:width" content="600">
    <meta property="og:image:height" content="315">
    <meta property="og:url" content="">

    <meta name="twitter:title" content="2021 SK Careers Fair On Air">
    <meta name="twitter:description" content="2021 SK신입 채용에 진심인 워너비들을 모십니다.">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="../../content/images/share.png">
    <meta name="twitter:url" content="">

    <meta name="google-site-verification" content="NSF2_yhdSgEIM6SJahfFWJYtcBpJ-4w910lO1bPnwOs" />
    <meta name="naver-site-verification" content="f34b80fbde9d6dbc20bf63b20bcc634f3410b2ee" />

    <!-- <link rel="icon" href="" sizes="">
    <link rel="shortcut icon" href="">
    <link rel="apple-touch-ico" href=""> -->

    <link rel="shortcut icon" type="image/png" href="../../content/images/favicon.png">
    <!-- Chrome, Safari, IE (.ico) -->
    <link rel="icon" type="image/png" href="../../content/images/favicon.png"> <!-- Firefox, Opera (.png) -->

    <link href="../../content/styles/style.css" rel="stylesheet">

    <script src="../../content/scripts/jquery-1.12.4.min.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161186827-2"></script>

    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-161186827-2');
    </script>
</head>

<body>
    <!-- //section START -->
    <section>
        <div class="sub_vsl_area">
            <div class="grid">
                <img src="../../content/images/subvisual-tit.png" alt="[SK 하반기 인턴/신입 모집] #SK채용 오늘도 열림!">
            </div> <!-- //grid -->
        </div> <!-- //sub visual area -->
        <div class="cont_area">
            <div class="grid">
                <div class="form_hd_box"><img src="../../content/images/form-head-tit.png"
                        alt="사전질문 하기 - 미리 질문하고 싶은 내용을 아래에 자유롭게 남겨 주시면 각 관계사 별 채용담당자가 지원자님들의 사전 질문을 종합하여 Careers Fair FAQ를 통해 직접! 답변을 드릴 예정입니다.">
                </div>
                <div class="pt100 form_box">
                    <small class="form_tit">개인정보 수집 및 이용 동의</small>
                    <div class="form_row">
                        <div class="form_term">
                            SK Careers Fair 운영국(이하 ＇운영국＇)은 응모자의 소중한 개인정보를 보호하기 위하여 ＂개인정보보호법＂ 등 개인정보에 관한 제반 법령을 준수하고
                            있습니다. 운영국은 "개인정보처리방침"을 제정하여 응모자가 제공하는 개인정보가 어떠한 용도와 방식으로 이용되고 있으며, 개인정보보호를 위해 어떠한 조치가 취해지고
                            있는지 알려드립니다.<br><br>
                            1. 개인정보 수집 · 이용에 대한 동의<br>
                            1)수집 방법<br>
                            SK Careers fair 사전질문 접수<br>
                            2)수집하는 개인정보의 이용 목적<br>
                            SK Careers fair 행사 (사전질문 접수) 및 이벤트 운영 (당첨자 선정 및 경품 발송)<br>
                            3)수집 항목<br>
                            필수 : 휴대전화번호<br>
                            선택 : 이메일<br>
                            ※인터넷 서비스 이용과정에서 아래 개인정보 항목이 자동으로 생성되어 수집될 수 있습니다. (IP 주소, 쿠키, MAC 주소, 서비스 이용 기록, 방문 기록,
                            불량 이용 기록 등)<br>
                            4)보유 및 이용기간<br>
                            ①운영국은 정보주체에게 동의 받은 개인정보 보유기간이 경과하거나 개인정보의 처리 목적이 달성된 경우 지체 없이 개인정보를 복구·재생할 수 없도록 파기합니다.
                            다만, 다른 법률에 따라 개인정보를 보존하여야 하는 경우에는 해당 기간 동안 개인정보를 보존합니다.<br>
                            ②처리목적에 따른 개인정보의 보유기간은 다음과 같습니다.<br>
                            -응모자 정보: 당첨자 발표 및 경품발송 처리를 위해 최종 당첨자 발표일로부터 3개월<br>
                            ※ 관계 법령<br>
                            이용자의 인터넷 로그 등 로그 기록 / 이용자의 접속자 추적 자료 : 3개월 (통신비밀보호법)<br>
                            5)수집 거부의 권리<br>
                            : 귀하는 개인정보 수집·이용에 동의하지 않으실 수 있습니다. 다만, 동의 거부 시 이벤트 응모가  제한됩니다.
                        </div>
                        <div class="txt_cnt form_check">
                            <label><input type="checkbox"><span class="box"></span>동의합니다.</label>
                        </div>
                    </div>
                </div> <!-- //개인정보 수집 및 이용 동의 -->
                <div class="form_box">
                    <small class="form_tit">취급 · 위탁에 대한 동의 </small>
                    <div class="form_row">
                        <div class="form_term">
                            운영국은 원활한 개인정보 업무처리를 위하여 다음과 같이 개인정보 처리업무를 위탁하고 있습니다. 운영국은 위탁계약 체결 시 정보통신망법 제25조 및 개인정보 보호법
                            제26조에 따라 위탁업무 수행목적 외 개인정보 처리금지, 기술적·관리적 보호조치, 재위탁 제한, 수탁자에 대한 관리·감독, 손해배상 등 책임에 관한 사항을 계약서 등
                            문서에 명시하고, 수탁자가 개인정보를 안전하게 처리하는지를 감독하고 있습니다.<br><br>
                            ①위탁받는 자 : (주)대학내일<br>
                            ②위탁하는 업무내용 : SK Careers fair 행사 (사전질문 접수) 및 이벤트 운영 (당첨자 선정 및 경품 발송)<br>
                            ③위탁하는 개인정보<br>
                            필수 : 휴대전화번호<br>
                            선택 : 이메일<br>
                            ※인터넷 서비스 이용과정에서 아래 개인정보 항목이 자동으로 생성되어 수집될 수 있습니다. (IP 주소, 쿠키, MAC 주소, 서비스 이용 기록, 방문 기록, 불량
                            이용 기록 등)<br>
                            1)보유 및 이용기간<br>
                            ①운영국은 정보주체에게 동의 받은 개인정보 보유기간이 경과하거나 개인정보의 처리 목적이 달성된 경우 지체 없이 개인정보를 복구·재생할 수 없도록 파기합니다. 다만,
                            다른 법률에 따라 개인정보를 보존하여야 하는 경우에는 해당 기간 동안 개인정보를 보존합니다.<br>
                            ②처리목적에 따른 개인정보의 보유기간은 다음과 같습니다.<br>
                            - 응모자 정보: 당첨자 발표 및 경품발송 처리를 위해 최종 당첨자 발표일로부터 3개월<br>
                            ※ 관계 법령<br>
                            이용자의 인터넷 로그 등 로그 기록 / 이용자의 접속자 추적 자료 : 3개월 (통신비밀보호법)<br>
                            2)동의 거부의 권리<br>
                            : 귀하는 취급 · 위탁에  동의하지 않으실 수 있습니다. 다만, 동의 거부 시 이벤트 응모가 제한됩니다.
                        </div>
                        <div class="txt_cnt form_check">
                            <label><input type="checkbox"><span class="box"></span>동의합니다.</label>
                        </div>
                    </div>
                </div> <!-- //취급, 위탁에 대한 동의 -->
                <!-- <div class="form_box">
                    <strong class="form_tit">거주지역(필수)</strong>
                    <div class="form_row">
                        <div class="pt0 form_check form_check_list">
                            <label><input type="radio" name="residence"><span class="box"></span>수도권</label>
                            <label><input type="radio" name="residence"><span class="box"></span>강원권</label>
                            <label><input type="radio" name="residence"><span class="box"></span>영남권</label>
                            <label><input type="radio" name="residence"><span class="box"></span>충청권</label>
                            <label><input type="radio" name="residence"><span class="box"></span>호남권</label>
                            <br>
                            <label class="ml0"><input type="radio" name="residence"><span class="box"></span>제주권</label>
                            <label><input type="radio" name="residence"><span class="box"></span>해외권</label>
                            <label><input type="radio" name="residence"><span class="box"></span>기타<input
                                    type="text"></label>
                        </div>
                    </div>
                </div>  -->
                <!-- //거주지역 -->
                <div class="form_box">
                    <strong class="form_tit">휴대전화번호(필수)</strong>
                    <div class="form_row">
                        <div class="form_field">
                            <input type="text" maxlength="11">
                            <p class="txt_indent form_tip"><span class="mark">*</span>사전질문 이벤트 당첨자 선정을 위해 휴대폰 번호를 반드시
                                적어주세요!</p>
                        </div>
                    </div>
                </div> <!-- //휴대전화번호 -->
                <div class="form_box">
                    <strong class="form_tit">이메일(선택)</strong>
                    <div class="form_row">
                        <div class="form_field"><input type="text"></div>
                    </div>
                </div> <!-- //이메일 -->
                <div class="form_box">
                    <strong class="form_tit">관심 관계사를 선택 후 질문을 남겨주세요 (중복 선택 가능 / 1개 이상 선택 필수)</strong>
                    <div class="form_row">
                        <div class="pt0 flex_box flex_col form_check form_check_list">
                            <label>
                                <input type="checkbox" name="affiliate"><span class="box"></span>SK주식회사 C&amp;C
                                <div class="form_field"><textarea placeholder="궁금한 사항을 자유롭게 남겨 주세요(300자 내외)"></textarea>
                                </div>
                            </label>
                            <label>
                                <input type="checkbox" name="affiliate"><span class="box"></span>SK이노베이션
                                <div class="form_field"><textarea placeholder="궁금한 사항을 자유롭게 남겨 주세요(300자 내외)"
                                        maxlength="300"></textarea></div>
                            </label>
                            <label>
                                <input type="checkbox" name="affiliate"><span class="box"></span>SK E&S
                                <div class="form_field"><textarea placeholder="궁금한 사항을 자유롭게 남겨 주세요(300자 내외)"
                                        maxlength="300"></textarea></div>
                            </label>
                            <label>
                                <input type="checkbox" name="affiliate"><span class="box"></span>SK실트론
                                <div class="form_field"><textarea placeholder="궁금한 사항을 자유롭게 남겨 주세요(300자 내외)"
                                        maxlength="300"></textarea></div>
                            </label>
                            <label>
                                <input type="checkbox" name="affiliate"><span class="box"></span>SK바이오팜
                                <div class="form_field"><textarea placeholder="궁금한 사항을 자유롭게 남겨 주세요(300자 내외)"
                                        maxlength="300"></textarea></div>
                            </label>
                        </div>
                    </div>
                </div> <!-- //질문 남기기 -->
                <div class="sub-kakao-channer">
                    <div class="grid">
                        <img src="../../content/images/sub-kakao-chaaner.png" alt="">
                        <a href="https://pf.kakao.com/_XBADK" title="카카오톡 채널 바로가기 (새 창 열림)" target="_blank"
                            class="kakao-btn"></a>
                    </div>
                </div>
                <div class="flex_box flex_spc_cnt form_btn_box">
                    <a href="index.html" title="이전 페이지로 이동" class="btn"><img
                            src="../../content/images/form-btn-prev.png" alt="이전"></a>
                    <a href="formSubmit.html" title="사전질문 등록" class="btn"><img
                            src="../../content/images/form-btn-confirm.png" alt="사전질문 등록"></a>
                </div> <!-- //버튼 영역 -->
            </div> <!-- //grid -->
        </div> <!-- //content area : form -->
    </section>
    <!-- //section END -->
    <!-- footer START -->
    <footer>
        <div class="grid">
            <p>COPYRIGHT (C) SK CAREER FAIR. ALL RIGHT RESERVED.</p>
        </div> <!-- //grid -->
    </footer>
    <!-- //footer END -->
    <script>
        $(document).ready(function () {

            var radioFl = $('input[type="radio"]');
            var checkFl = $('input[type="checkbox"]');
            var checkAffFl = $('input[name="affiliate"]');

            //거주지역 라디오박스 클릭시 텍스트 필드 보임
            radioFl.change(function () {
                var inputFl = $(this).siblings('input[type="text"]');

                if ($(this).prop("checked")) {
                    inputFl.show();
                }
            });

            //관계사 체크박스 클릭시 텍스트 필드 보임
            checkFl.change(function () {
                var textFl = $(this).siblings('.form_field').find('textarea');

                if ($(this).prop("checked")) {
                    textFl.show();
                } else {
                    textFl.hide();
                }
            });

            //관계사 체크박스 해제 시 이벤트
            checkAffFl.on('click', function () {
                var checkAffTxt = $(this).siblings('.form_field').find('textarea');

                function alertAff() {
                    if (confirm('관계사 체크 해제 시 입력된 내용은 모두 초기화 됩니다.') == true) {
                        checkAffTxt.val('');
                    } else {
                        return;
                    }
                }
                if (!$(this).is(":checked") && !checkAffTxt.val().length == 0) {
                    alertAff();
                }
            });

        });
    </script>
</body>

</html>